@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    overflow: hidden;
    position: relative;
}

/* .App::after{
    content: '';
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-color: #fff;
    z-index: 0;

    animation: float 5s linear infinite;
} */

@keyframes float {
    0%{
        left: 0;
        top: 0;
    }
    50%{
        left: 50vw;
        top: 70vh;
    }
    100%{   
        left: 0;
        top: 0;
    }
}

.left-panel{
    width: 20vw;
    padding-top: 5vh;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #1DA1F2;
    /* background-color: green; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-panel::-webkit-scrollbar{
    display: none;
}

.lp-card-body{
    width: 100%;
    max-width: 17em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    position: relative;
}

.lp-card{
    transition: 0.3s ease-out;
    position: absolute;
    right: 0;
    padding: 1em 0em;
    border-radius: 1em 0em 0 1em;
    width: 90%;
    background-color: #1DA1F2;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-card:hover{
    transition: 0.3s ease-in;
    background-color: white;
    color: black;
}

/* ...CSS for chat panel */
.chat-panel{
    width: 70vw;
    height: 100vh;
    /* background-color: blue; */
    background-color: white;
    position: relative;
}

.chat-panel-message-list{
    /* background-color: red; */
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:  85vh;
}

.chat-panel-message-list::-webkit-scrollbar{
    display: none;
}

.chat-panel-clock{
    width: 100%;
    height: 3em;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #17D4FE; */
    font-family: 'Orbitron';
    letter-spacing: 7px;
    font-weight: 900;
}

.cp-input-bar{
    width: 100%;
    height: 4em;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 3px solid blue; */
    /* border-radius: 3em; */
    position: absolute;
    bottom: 0;
    background-color: #fff;
}

.cpib-input-field{
    border: none;
    width: 60%;
    height: 50%;
    outline: none;
}

.message-left-body{
    width: 95%;
    min-height: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;

    /* color: whitesmoke; */
    /* background-color: black; */
    padding: 0.5em 0em;
    padding-left: 5%;
}

.message-right-body{
    width: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    min-height: 2em;
    padding: 0.5em 0em;
    padding-right: 5%;
    /* color: black; */
    /* background-color: #fff; */
}

.message-left-text{
    color: #fff;
    max-width: 40%;
    padding: 0.7em 0.9em;
    margin-bottom: 0.5em;
    background-color: #1DA1F2;
    border-radius: 2em 2em 2em 0em;
}

.message-right-text{
    max-width: 40%;
    padding: 0.7em 0.9em;
    margin-bottom: 0.5em;
    background-color: whitesmoke;
    color: gray;
    border-radius: 2em 2em 0em 2em;
}

.message-timestamp{
    font-size: 11px;
    color: gray;
}

/* END */

.right-panel{
    width: 10vw;
    height: 100vh;
    /* background-color: red; */
}